<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 d-print-none" id="menu">
  <span class="navbar-brand"></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item ml-3 ml-lg-0"><a class="nav-link py-2" href="#about">about</a></li>

      <li class="nav-item d-lg-none ml-3 mt-2 text-white">other:</li>
      <li class="nav-item ml-3 d-lg-none"><a class="nav-link pt-2" href="https://grassmannian.info"><img src="https://grassmannian.pythonanywhere.com/static/favicon.ico" height="20" class="mr-3">Grassmannian.info</a></li>
      <li class="nav-item ml-3 d-lg-none"><a class="nav-link py-2" href="https://superficie.info"><img src="https://superficie.info/favicon.ico" height="20" class="mr-3">le superficie algebriche</a></li>
      <li class="nav-item ml-3 d-lg-none"><a class="nav-link py-2" href="https://fanography.info"><img src="https://fanography.pythonanywhere.com/static/favicon.png" height="20" class="mr-3">Fanography</a></li>
      <li class="nav-item ml-3 d-lg-none"><a class="nav-link py-2" href="https://hyperkaehler.info"><img src="https://www.hyperkaehler.info/static/apple-touch-icon.png" height="20" class="mr-3">hyperkaehler.info</a></li>
    </ul>
  </div>

  <ul style="list-style-type: none; position: absolute; right: 0" class="list-group list-group-horizontal d-none d-lg-block">
    <li class="float-right mr-4">
      <a href="http://grassmannian.info"><img src="https://grassmannian.pythonanywhere.com/static/favicon.ico" height="20" class="mr-1">Grassmannian.info</a>
    </li>
    <li class="mr-4" style="display: inline-block;">
      <a href="https://superficie.info"><img src="https://superficie.info/favicon.ico" height="20" class="mr-1"><span class="d-none d-xl-inline">le </span>superficie<span class="d-none d-xl-inline"> algebriche</span></a>
    </li>
    <li class="mr-4" style="display: inline-block;">
      <a href="http://fanography.info"><img src="https://fanography.pythonanywhere.com/static/favicon.png" height="20" class="mr-1">Fanography</a>
    </li>
    <li class="mr-4" style="display: inline-block;">
      <a href="https://hyperkaehler.info"><img src="https://www.hyperkaehler.info/static/apple-touch-icon.png" height="20" class="mr-1">hyperkaehler.info</a>
    </li>
  </ul>
</nav>
<div id="title" class="sticky-top">
  <h1><a href="/">$\overline{\mathrm{M}}_{g,n}$</a></h1>

  <p id="slogan">the geometry of $\overline{\mathrm{M}}_{g,n}$</p>
</div>

